@import url('custom.css');

.nemo-hotels-form__passengers__fastSelect {
    display: none;
}

.nemo-hotels-form__passengers__container {
    background: #64b5f6 !important;
    color: #fff;
}

.nemo-hotels-form__passengers__container.nemo-ui-select__toggle::after {
    background: #64b5f6;
}

